In [1]:
# Libraries
import numpy as np
import pandas as pd

data = pd.read_csv('C:\\Users\\enesb\\Desktop\\PycharmProjects\\SORU_COZUM\\country_vaccination_stats.csv')
data.head()
df = data.copy()

# Solution 4

In [2]:
df.isna().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [3]:
df.loc[: , 'daily_vaccinations'] = df.groupby('country')['daily_vaccinations'].apply(lambda x : x.fillna(x.min()))
df.loc[: , 'daily_vaccinations'] = df['daily_vaccinations'].apply(lambda x : 0 if np.isnan(x) else x)
df

C:\Users\enesb\AppData\Local\Temp\ipykernel_13108\3985543449.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df.loc[: , 'daily_vaccinations'] = df.groupby('country')['daily_vaccinations'].apply(lambda x : x.fillna(x.min()))

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

# Solution 5

In [4]:
data.groupby('country')['daily_vaccinations'].median().sort_values(ascending=False)[0:3]

country
United States    399093.0
China            299107.5
India            182551.5
Name: daily_vaccinations, dtype: float64

# Solution 6

In [5]:
data[data['date'] == '1/6/2021']['daily_vaccinations'].sum()

1466568.0